---
import { docsSidebar } from "../../consts";

interface Props {
  currentPage: string;
  collection: string;
}

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith("/")
  ? currentPage.slice(1, -1)
  : currentPage.slice(1);
---

<nav
  id="navGroups"
  class="sticky top-24 overflow-y-scroll overscroll-contain h-[calc(100vh-5.75rem)] text-xl pl-4 pr-3 scrollbar"
>
  <ul>
    {
      Object.entries(docsSidebar).map(([header, children]) => (
        <li class="mb-3">
          <div>
            <h2 class="font-bold">{header}</h2>
            <ul>
              {children.map((child) => {
                const url = child.link;
                return (
                  <li class="ml-2">
                    <a
                      href={url}
                      aria-current={
                        currentPageMatch === child.link ? "page" : false
                      }
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  let url = location.href;
  let current = url.substring(url.lastIndexOf("/") + 1);
  let currentAnchor = document.querySelector(`[href=${current}]`);
  let sectionTitle = document.querySelector(
    `div:has([href='${current}']) > h2`
  );
  sectionTitle?.classList.add("text-lime-600");
  currentAnchor?.classList.add("text-lime-600");
</script>

<script is:inline>
  {
    const leftSidebar = document.querySelector("#navGroups");
    const leftSidebarScroll = localStorage.getItem("sidebar-scroll");
    if (leftSidebarScroll !== null) {
      leftSidebar.scrollTop = parseInt(leftSidebarScroll, 10);
    }
    window.addEventListener("beforeunload", () => {
      localStorage.setItem("sidebar-scroll", leftSidebar.scrollTop);
    });
  }
</script>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 7px;
      height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: #7a7a7a;
      border-radius: 100vh;
      border: 0px solid #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #8a8a8a;
    }
  }
</style>
